.cont {
  width: 45rem;
  max-width:90%;
  margin: 2.2rem auto;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  color: #646681;
}

.behv-cont {
  display: flex;
  justify-content: space-between;
}

.behv-cont div,
.behv-cont select {
  background: #cccdde;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  font-weight: bold;
  color: #646681;
}

select {
  font-size: 1rem;
}

.behv-cont div:hover,
.behv-cont select:hover {
  cursor: pointer;
}

.behv-cont div {
  text-align: center;
  color: white;

  background: #646ff0;
}
